*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* --- PORTADA INDEX --- */

.portada-index img{
    max-width: 100%;
}

.portada-index{
    padding: 2rem;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

h1{
    font-weight: 600;
    color: #F55759;
    font-size: 1.5rem;
}

.portada-texto{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 3rem;
}


/* --- Form Index --- */
.tamano-form{
    width: 250px;
}

.portada-form{
    background-color: #ffffff;
    box-shadow: 4px 4px 50px #00000031;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 320px;
    padding: 1rem;
    margin: center;
    border-radius: 50px;
}

.portada-form div{
    background-color: #ffffff;
    align-content: center;
    align-content: center;
    padding: 1rem;
}

.portada-form label{
    background-color: #ffffff;
}

.form-boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.form-boton input{
    background-color: #F6B52F;
    color: #FAFAFA;
    padding: 10px 20px ;
    border-radius: 30px;
    border: none;
}

@media (min-width: 768px){
    .portada-form{
        width: 350px;
        flex-direction: column;
    }


    .portada-index{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .portada-texto{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    
    .portada img{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1{
        font-size: 1.8rem;
    }
}


@media (min-width: 1200px){

    .portada-form{
        background-color: #ffffff;
        box-shadow: 4px 4px 50px #00000031;
        flex-direction: row;
        width: 770px;
        padding: 1rem;
        margin: center;
        border-radius: 50px;
    }

    .tamano-form{
        width: 180px;
    }

    .portada-form div{
        background-color: #ffffff;
        padding: 10px;
        display: inline-block;
    }

    h1{
        font-size: 2.5rem;
    }
}
    

/* --- Form Nac e Inter --- */
    .portada{
        padding: 2rem;
        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    @media (min-width: 768px){
        .portada section{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 700px;
        }

        .portada div select{
            width: 150px;
        }
    }


    @media (min-width: 1200px){
        .portada section{
            width: 770px;
        }

        .portada div select{
            width: 180px;
        }
    }


/* --- CARDS --- */

/* --- Cards --- */

.cards{
    border: 3px solid #CCCCCC;

    width: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.cards img{
    width: 100%;
    border-radius: 17px;
    height: 196px;
}

.cards-body{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
    padding: 25px;
}

.cards h3{
    color: #31353E;
    font-size: x-large;
    font-weight: 600;
}
.cards span{
    color: #F55759;
    font-size: large;
    font-weight: 600;
}

.cards p{
    color: #5B5E65;
    font-size: medium;
    font-weight: 400;
}

.cards-grup{
    padding: 1rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
}

.cont-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

@media (min-width: 768px){
    .cont-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        gap: 3rem;
    }
}

@media (min-width: 1200px){
    .cont-cards{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0;
    }
}

/* --- Footer --- */
footer{
    background-color: #31353E;
    color: #ffffff;
    padding: 20px;
    padding-top: 40px;
}

footer h4{
    font-size: 1.3rem;
    font-weight: 500;
}

footer p{
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.redes-footer ul{
    list-style: none;
    padding-left: 8px;
}

.redes-footer ul li a{
    color: #ffffff;
    text-decoration: none;
}


.container{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

@media (min-width: 768px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: start;
    }
}
