.portada-contacto {
    padding: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    @include flex-column;
    gap: 1rem;
    }

    .contacto-form {
        @include flex-column;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 5rem;
    gap: 1rem;

    @include mq-md{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-right: 5rem;
        padding-left: 5rem;
    }
    }

@include mq-md{
    .asunto {
        grid-column: span 2;
    }
}
