.portada-index {
    padding: 2rem;
    padding-top: 1.5rem;
    
    @include flex-column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    }

h1 {
    font-weight: 600;
    color: #F55759;
    font-size: 1.5rem;
    }

.portada-texto {
    @include flex-column;
    padding-top: 1rem;
    gap: 3rem;
    }

@include mq-md {
    .portada{
        &-form {
            width: 350px;
            flex-direction: column;
        }

        &-index {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }

        &-texto {
            @include flex-column;
            gap: 4rem;
        }

        img {
            @include flex-column;
            justify-content: center;
        }
    }

    h1 {
        font-size: 1.8rem;
    }
    }

@include mq-lg {
    .portada-form {
        flex-direction: row;
        width: 770px;
        padding: 1rem;
        margin: center;
        border-radius: 50px;

        div {
            background-color: #ffffff;
            padding: 10px;
            display: inline-block;
        }
    }

    .tamano-form {
        width: 180px;
    }
    h1 {
        font-size: 2.5rem;
    }
    }
